.table thead th {
    vertical-align: top;

    .form-control {
        min-width: 100px;
    }
}
.bulk-select-rows {
    display: flex;
    align-items: center;
    margin: 5px 0;
    justify-content: space-between;

    label {
        margin-bottom: 0;
        margin-left: 5px;
    }
}
.action-buttons {
    max-width: 150px;

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }
    &.time-action-buttons {
        display: flex;
        justify-content: space-between;
    
        .btn {
            margin: 0 4px;
            width: auto;
        }
    }
}
.livewire-options {
    flex-direction: column;
    gap: 16px;

    @include tablet-up {
        flex-direction: initial;
        gap: initial
    }
}