.table thead th {
    vertical-align: top;
}
.action-buttons .btn {
    width: 100%;
    margin-bottom: 10px;
}
.bulk-select-rows {
    display: flex;
    align-items: center;
    margin: 5px 0;
    justify-content: space-between;

    label {
        margin-bottom: 0;
        margin-left: 5px;
    }
}
.action-buttons {
    max-width: 150px;
}