.container {
    @include desktop-1200 {
        max-width: 1300px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

ol.stepper {
    max-width: 300px;
    margin: auto;
    font-size: 18px;
    text-align: left;

    li {
        padding-left: 25px;
        margin-bottom: 15px;
        position: relative;

        &::before {
            position: absolute;
            width: 30px;
            height: 30px;
            content: '';
            background: rgb(4, 100, 244);
            z-index: -1;
            border-radius: 15px;
            top: -2px;
            left: -28px;
        }

        &::marker {
            color: #fff;
        }
    }
}

#kustomer {
    display: none;

    @include tablet-up {
        display: initial;
    }
    
    .kustomer-feedback-component {
        left: 14px;
        bottom: 14px;
        right: initial;
        z-index: 1100;
    
        .kustomer-popup {
            left: 10px;
            right: initial;
        }
    
        .kustomer-tooltip {
            left: 70px;
            right: initial !important;
        }
    }
}

.card.transparent-header .card-header {
    border-bottom: 0;
    background: transparent;
}