.container {
    @include desktop-1200 {
        max-width: 1300px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

ol.stepper {
    max-width: 300px;
    margin: auto;
    font-size: 18px;
    text-align: left;

    li {
        padding-left: 25px;
        margin-bottom: 15px;
        position: relative;

        &::before {
            position: absolute;
            width: 30px;
            height: 30px;
            content: '';
            background: rgb(4, 100, 244);
            z-index: -1;
            border-radius: 15px;
            top: -2px;
            left: -28px;
        }

        &::marker {
            color: #fff;
        }
    }
}

#kustomer {
    display: none;

    @include tablet-up {
        display: initial;
    }
    
    .kustomer-feedback-component {
        left: 14px;
        bottom: 14px;
        right: initial;
        z-index: 1100;
    
        .kustomer-popup {
            left: 10px;
            right: initial;
        }
    
        .kustomer-tooltip {
            left: 70px;
            right: initial !important;
        }
    }
}

.card.transparent-header .card-header {
    border-bottom: 0;
    background: transparent;
}

.required-field {
    &:after {
        content: '*';
        color: red;
        margin-left: 4px;
    }
}

li.page-item {
    display: none;

    @include tablet-up {
        display: initial;
    }
}

.page-item:first-child,
.page-item:nth-child(2),
.page-item:nth-last-child(2),
.page-item:last-child,
.page-item.active,
.page-item.disabled {
    display: block;
}

.w-md-25 {
    width: 100%;
    
    @include tablet-up {
        width: 25%;
    }
}

a.task {
    overflow: hidden;
    max-width: 100px;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

.col-xxl-3 {
    @include desktop-1400 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}