#counterMenu {
    .counter {
        width: 100%;
        font-size: 24px;
        text-align: center;
        margin-bottom: 4px;

        @include tablet-up {
            letter-spacing: 1px;
            width: auto;
            text-align: initial;
            margin-bottom: initial;
        }
    }
    h6 {
        margin-bottom: 0;

        @include desktop-1100 {
            font-size: 18px;
        }
    }
    .actions {
        width: 100%;
        text-align: center;

        @include tablet-up {
            width: auto;
            text-align: initial;
        }
        button {
            margin-left: 0;
            font-size: 16px;

            &.btn-danger {
                margin-right: 10px;
            }

            @include tablet-up {
                margin-left: 10px;
                margin-right: 10px;
                letter-spacing: 1px;
            }
        }
    }
}