.c-sidebar {
    z-index: 99999;
    position: static;

    .c-sidebar-brand {
        background: rgba(0, 0, 0, 0.5);
    }
    .c-sidebar-minimizer {
        background-color: rgba(0, 0, 0, 0.5);
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }
    }

    .c-sidebar-nav-link:focus {
        text-decoration: none;
    }
}